﻿<head>
<title>ПОЛИГРАФИЧЕСКИЙ ДИЗАЙН</title>
</head>
<body>
<h1>Полиграфический дизайн</h1>
<hr>
Раз поверхности в Material Design называют «цифровой бумагой», то всё, что на ней размещается — текст, изображения, пиктограммы — нанесены «цифровыми чернилами». И Material Design использует классические принципы полиграфического дизайна в оформлении интерфейсов.<br/>
<h3><b>Изящная типографика</b></h3>
В полиграфическом дизайне типографика играет принципиально важную роль. Возьмите любой журнал, и вы заметите, что типографика выполняет там две важные функции. Во-первых, выбор и композиция шрифта является стилеобразующим элементом бренда издания. Во-вторых, типографика задаёт структуру контента. <br/>
На экране довольно много текста. Но если отбросить иконки и превратить текст в серые блоки, то станет очевидно, что структура вполне различима. <br/>
<br/>
Перед нами крупный заголовок и набор более мелких элементов, которые отличаются своей насыщенностью — более важные темнее. При этом мы явно различаем группировку за счет того, что некоторые прямоугольники расположены близко, а между блоками есть существенный отступ. В общем, всё в лучших традициях!<br/>
<br/>
<h3><b>Размер шрифта</b></h3>
На сайте google.com/design/spec есть стандартная палитра шрифтов, которую можно смело использовать. В палитре используется шрифт Roboto, но его можно заменять своим фирменным шрифтом, чтобы поддержать бренд. Важно всё внимательно протестировать, так как на разных устройствах рендеринг шрифтов может работать по-разному. Обычно OTF шрифты работают лучше, чем TTF.<br/>
<h3><b>Контрастная типографика</b></h3>
Еще один принцип из мира полиграфии, который хорошо уживается в Material Design, это контрастная типографика — действительно заметный контраст между размерами шрифта заголовка и наборного текста. Это красиво и хорошо выделяет главное. <br/>
<h3><b>Модульная сетка и направляющие</b></h3>
Теперь к расположению контента на экране. В полиграфическом дизайне используются модульные сетки, в экранном дизайне это больше базовые сетки с очень маленькими модулями. Так, в Material Design используется сетка с шагом в 8dp. DP — это density-independent pixel, единица во многом аналогичная единице point в iOS.<br/>
<br/>
Но главная отличительная черта размещения контента в соответствии с принципами Material Design — расположение ключевых направляющих. Они задают отступы от краёв экрана, структурируя информацию и управляя взглядом пользователя. Если вы знакомы с дизайном многостраничных изданий или читали <a href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B8%D1%85%D0%BE%D0%BB%D1%8C%D0%B4,_%D0%AF%D0%BD">Чихольда</a>, то наверняка многое знаете о сетке и полях и понимаете, откуда тут растут ноги.<br/>
<br/>
Фактически мы видим колонку текста посередине и большое поле слева, что даёт возможность сфокусировать внимание на основном контенте, а вспомогательные элементы дать на полях.<br/>
<h3><b>Геометрическая иконографика</b></h3>
Если говорить про иконографику, то простые иконки использовались в Android уже на протяжении какого-то времени, но в Material Design они стали еще проще и дружелюбней. На неофициальном ресурсе materialdesignicons.com дизайнеры могут найти пиктограммы для своих целей и по возможности внести свой вклад.<br/>
<h3><b>Цвет</b></h3>
Как и в полиграфическом дизайне, в дизайне интерфейсов цвет является важным средством выразительности. В прежнем Android цвет был чем-то дополнительным, теперь же он играет более заметную роль. В Material Design стандартная цветовая палитра приложения состоит из основного и акцентного цветов. <br/>
Основной используется для больших областей вроде action bar, а в его более тёмную вариацию красится status bar. Более яркий акцентный цвет используется точечно в элементах управления, кнопках, полосках, индикаторах и т.д. Акцентный цвет призван привлекать внимание пользователя к ключевым элементам, таким как плавающая кнопка.<br/>
<br/>
Насколько много цвета применять? Акценты ставятся точечно, в небольшом количестве. Для раскрашивания остальной части интерфейса есть простое базовое правило. Когда текста много, например, это список почты, стоит оставить app bar стандартного размера и покрасить его, чтобы позволить пользователю сосредоточиться на содержимом. Если контента не так много, например, детальный просмотр отдельного элемента, фото или калькулятор, то это отличная возможность для применения больших цветных плашек — 2х или 3х высоты app bar.<br/>
</br>
Android поддерживает библиотеку под названием Palette, которая позволяет экстрагировать цвет из фотографий. То есть имеется возможность динамически красить интерфейс, исходя из фотоиллюстраций в приложении.<br/>

<br/>
Мы взяли фотографию, и алгоритм выделил из него 6 цветов с разными характеристиками:<br/>
— есть 3 сочных и 3 приглушенных цвета;<br/>
— они делятся на светлые, стандартные и тёмные тона;<br/>
— для каждого цвета фона определяется свой цвет текста, который также можно использовать.<br/>

<h3><b>Красивые фото</b></h3>
И наконец, как и в печатном дизайне, в Material Design поощряется использование фотографии и иллюстраций во всей красе. Картинки в основном размещаются без рамок, часто «навылет». Даже status bar специально делается прозрачным, чтобы не мешать. При этом каждая капля «цифровых чернил» на экране имеет функцию, почти ничего нет просто для украшения.<br/>

<blockquote>ЗАПОМНИТЕ!<br/>
<ol>
<li><b>Брендируйте с удовольствием.</b> Google находится в более выгодном положении с тем, что может использовать яркие цвета в качестве фирменных, но это не стоит воспринимать как проблему. Цвета можно выбрать из корпоративного брендбука и вообще использовать логотип.</li>
<li><b>Не забывайте отступы и “давайте воздуха”.</b> Базовая сетка в 8dp и отступ слева в 72dp — практически правило. Пусть контенту будет хорошо и свободно.</li>
<li><b>Выразительные фото делают погоду.</b> Фотографии и иллюстрации в качестве выразительных средств — наш выбор.</li>
</ol></blockquote><br/>


</body>
</html>
